.search_input{
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 560px;
}

.search_input > input {
    flex:1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}

.search_input > input:focus{
    outline-width: 0;
}

.search_inputIcon{
    color: black;
}

.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.homepage_body{
    flex:1;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

.homepage_body > img {
    object-fit: contain;
    height: 200px;
}

